* {
    letter-spacing: 3px;
}

i {
    color: steelblue;
}

.big {
    font-size: 2em;
    color: greenyellow;
}

.big .small {
    font-size: 0.5em;
    color: crimson;
}

.big.small {
    font-size: 3.5em;
    color: lightcoral;
}

#big {
    font-size: 2em;
    color: darkslateblue;
    font-weight: bold;
}

#big .small {
    font-size: 0.3em;
    color: darkorange;
}

button {
    font-size: 1.5em;
    color: darkorchid;
    background-color: lightblue;
    border: 1px solid darkred;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

[type="submit"] {
    background-color: lightgreen;
    border: 1px solid darkgreen;
}

button[type="button"] {
    background-color: lightcoral;
    border: 1px solid darkred;
}

.span-1, .span-2 {
    font-size: 1.5em;
    color: darkslategray;
    padding: 10px;
    margin: 10px;
}

.parent > p {
    font-size: 1.5em;
    color: blueviolet;
    padding: 5px;
    margin: 5px;
}

h2 + h3 {
    font-size: 1.5em;
    color: orange;
    padding: 5px;
    margin: 5px;
}

h5 ~ span {
    font-size: 4.5em;
    color: darkred;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    border-bottom: 1px solid darkslategray;
}

ul li:nth-child(odd) {
    color: darkorange;
}

ul li:last-child {
    border-bottom: none;
}

.after {
    font-size: 60px;
}

label {
    user-select: none;
    cursor: pointer;
}

[type="checkbox"] {
    display: none;
}

[type="checkbox"]:checked + div {
    color: darkorange;
}

.bin {
    display: flex;
    margin: 50px;
    justify-content: center;
}

.sq {
    width: 100px;
    height: 100px;
    color: teal;
    animation-name: anikuku;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anikuku {
    0% {
        background-color: teal;
        transform: rotate(0deg);
    }
    25% {
        background-color: aqua;
        transform: rotate(90deg);
    }
    50% {
        background-color: lightblue;
        transform: rotate(180deg);
    }
    75% {
        background-color: aqua;
        transform: rotate(270deg);
    }
    100% {
        background-color: teal;
        transform: rotate(360deg);
    }
}