:root {
    --img: 300px;
    --img2: 300px;
}

body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

.layout {
    width: 100%;
}

.bin {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.bin.menu {
    background-color: lightblue;
    height: 100px;
}

nav {
    border-right: 3px solid white;
    border-left: 3px solid white;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: darkblue;
}

.img-container {
    border: 1px solid black;
    padding: 20px;
    width: var(--img);
    position: relative;
    margin: 20px;
    height: 500px;
}

.hero {
    width: 100%;
    height: 500px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: var(--img);
    height: auto;
    position: absolute;
    transition: all 0.5s;
}

@media only screen and (min-width: 700px) {
    img {
        width: var(--img2);
    }
}

.img1 {
    opacity: 1;
}

.img2 {
    opacity: 0;
}

.img-container:hover .img1 {
    opacity: 0;
}

.img-container:hover .img2 {
    opacity: 1;
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.about .text {
    width: 25%;
}

.about .text h2::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: pink;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
}

.about .text h2::after {
    content: ""; 
    /* be content nieko nebus */
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: pink;
    border-radius: 50%;
    position: relative;
    bottom: 5px;
}

@media only screen and (max-width: 900px) {
    .about .text {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .about .text {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
}

.burger-holder {
    display: flex;
    align-items: center;
    width: 40px;
    height: 100px;
}

@media only screen and (min-width: 900px) {
    .desktop-menu {
        display: flex;
    }
    .mobile-menu {
        display: none;
    }
}


.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}
 
.burger div {
    width: 100%;
    height: 5px;
    background-color: white;
    transition: all 0.3s;
}